<!DOCTYPE html>

    <h1>About Us</h1>
    <p>
      <a href="http://railstutorial.org/">Atheneum</a>
      is a project to make book borrowing easier and available for people 
      with just a <a href="http://rubyonrails.org/">click</a>. This
      is the first draft of the website .
    </p>
 