<h1>Help</h1>
<p>
  Get help on Atheneum at the 
  <a href="http://railstutorial.org/help">Atheneum blog</a>.
  To get help on sharing your library, see the
  <a href="http://railstutorial.org/book">tutorial video</a>.
</p>